/********************
IMPORTS
*******************/

@import url('reset.css');
@import url('accessibility.css');
@import url('card-styles.css');


/********************
YOUR STYLES
*******************/

body {
    background: url(/img/background.jpg);
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.masthead {
    background-color: transparent;
}

path {
    fill: #ddd;
}

svg {
    height: 100px;
}

h1.site-title {
    color: #ddd;
}

.lg-backdrop {
    background: black;
}

/*
.lg-sub-html {
    background: red;
}
.lg-toolbar {
    background: red;
}
*/

.lg-image {
    border-radius: 4px;
    box-shadow: 0 0 8px white;
}

.card {
    background: #000;
    transition: all .5s;
}

.card h2,
.card p {
    color: #ddd;
}

.card h2 {
    font-size: 15px;
}

.card p {
    font-size: 11px;
}

h1 {
    font-size: 19px;
}

.card:hover {
    transform: scale(1.05);
}

a:hover {
    box-shadow: none;
}

a {
    text-decoration: none;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}